/.idea
/Dropbox
/Dropbox.bak
/libs/*
__pycache__
/nbproject/private/
/nbproject/
/mokona_game/libs
.idea
/HTML5Application/nbproject/private/
/entry/mokona_game
/midiCollection/*
/midiCollectionDecoded/*
/user_data.db
/flying_pigs.jpg
*-compiled.js
*-compiled.js.map
*.js.map
/ignored
/src/**/*.js
/src/**/*.js.map
/entry/**/*.js
/entry/**/*.js.map
/node_modules
/tests/flow_compilled
/b/
/imgs/big/
/out/*
/unversioned/*
/entry/unversioned/*
/entry/*/out/

/scripts/out.js
/scripts/soundfonts_info2.js
/src/flowOut/

/util.bak/
/libs.bak/
/tests/borrowed/
/Thumbs.db
