/.idea
/Dropbox
/libs/*
__pycache__
/nbproject/private/
/nbproject/
/mokona_game/libs
.idea
/HTML5Application/nbproject/private/
/mokona_game
/midiCollection/*
/midiCollectionDecoded/*
/user_data.db
/flying_pigs.jpg
*-compiled.js
*-compiled.js.map
/ignored
*/typescript/*/*.js
*/typescript/*/*.js.map
*/typescript/*.js
*/typescript/*.js.map
.*
/node_modules
/tests/flow_compilled
/b/
/imgs/big/

/scripts/out.js
/scripts/soundfonts_info2.js
