
/* supposing initial color is red for any note in any channel */

.channelColors [data-channel] {
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.channelColors [data-channel="0"] { color: rgb(0, 0, 0); }
.sheetMusicCont [data-channel="0"] {
    --cbfilter: hue-rotate(0deg) brightness(0);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="1"] { color: rgb(192, 0, 0); }
.sheetMusicCont [data-channel="1"] {
    --cbfilter: hue-rotate(0deg) brightness(0.75);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="2"] { color: rgb(0, 148, 0); }
.sheetMusicCont [data-channel="2"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="3"] { color: rgb(60, 60, 255); }
.sheetMusicCont [data-channel="3"] {
    --cbfilter: hue-rotate(240deg) brightness(2);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="4"] { color: rgb(152, 152, 0); }
.sheetMusicCont [data-channel="4"] {
    --cbfilter: hue-rotate(70deg) brightness(2.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="5"] { color: rgb(0, 192, 192); }
.sheetMusicCont [data-channel="5"] {
    --cbfilter: hue-rotate(180deg) brightness(2);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="6"] { color: rgb(192, 0, 192); }
.sheetMusicCont [data-channel="6"] {
    --cbfilter: hue-rotate(270deg) brightness(1.8);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="7"] { color: rgb(255, 128, 0); }
.sheetMusicCont [data-channel="7"] {
    --cbfilter: hue-rotate(30deg) brightness(7);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="8"] { color: rgb(91, 0, 255); }
.sheetMusicCont [data-channel="8"] {
    --cbfilter: hue-rotate(260deg) brightness(2);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="9"] { color: rgb(128, 128, 128); }
.sheetMusicCont [data-channel="9"] {
    --cbfilter: grayscale(100%) brightness(3);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

/** TODO: define when needed */
.channelColors [data-channel="10"] { color: rgb(127, 255, 0); }
.sheetMusicCont [data-channel="10"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="11"] { color: rgb(255, 0, 255); }
.sheetMusicCont [data-channel="11"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="12"] { color: rgb(64, 128, 255); }
.sheetMusicCont [data-channel="12"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="13"] { color: rgb(192, 128, 0); }
.sheetMusicCont [data-channel="13"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="14"] { color: rgb(130, 200, 0); }
.sheetMusicCont [data-channel="14"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="15"] { color: rgb(255, 32, 0); }
.sheetMusicCont [data-channel="15"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

canvas#pianoCanvas { cursor: pointer; }

/**
 * =============================
 * note score styling follows
 * ============================
 */

.sheetMusicCont {
    --b-radius: 3.5px;
    --y-steps-per-system: 40;

    --support-lines-color: rgba(192,192,192,1);
    --main-lines-color: rgba(128, 128, 255, 1);
}

.sheetMusicCont {
    background-image: url(/imgs/part_keys_40r.svg), url(/imgs/score_lines.svg);
    background-repeat: repeat-y, repeat;
    background-size:
        Auto calc(var(--b-radius) * var(--y-steps-per-system)),
        Auto calc(var(--b-radius) * var(--y-steps-per-system));
    padding-left: calc(var(--b-radius) * 15);
}

.sheetMusicCont .tactNumberCont {
    float: right;
    left: calc(var(--b-radius) * 7);
    font-size: calc(var(--b-radius) * 3);
    font-weight: bold;
    color: rgb(0,128,0);
}

div.chordListCont > span {
    display: inline-block;
    height: calc((var(--y-steps-per-system) - 4) * var(--b-radius));
    margin-bottom: calc(var(--b-radius) * 4);
}

div.chordListCont > span.chordSpan {
    width: calc(var(--b-radius) * 10);
    position: relative; /* to allow absolute positioning of children... likely */
}

div.chordListCont > span.chordSpan * {
    vertical-align: top;
}

.sheetMusicCont div.chordListCont > span.focused {
    background-color: rgba(255,192,0,0.3)
}
.sheetMusicCont div.chordListCont > span.tactFinisher {
    box-shadow: 1px 0 0 rgba(0,0,0,0.3)
}
.sheetMusicCont div.chordListCont > span.tactFinisher.doesNotFitIntoTact {
    box-shadow: 1px 0 0 red
}

.sheetMusicCont .noteCanvas, .sheetMusicCont .noteDom {
    --ivory-index: 40; /* how many places should note be shifted. 40 is LA 440 Hz, 33 is LA 220 Hz, 35 is DO */
    position: absolute;
    /* 56 - position of 0 note, 9 - size of note image, 1 - distance from bottom to the center of the note */
    top: calc((56 - var(--ivory-index) - 9 + 1) * var(--b-radius));
    opacity: 0.75;
}
.sheetMusicCont [data-channel="9"] {
    /* constant position for drum notes cuz it does not mean actual pitch anyways */
    /* 32 - lowest DO on my synth, 2 - two places more down */
    top: calc((35 + 2 - 9 + 1) * var(--b-radius));
}
.sheetMusicCont .noteCanvas[data-tune="0"] {
    opacity: 0.5;
}
.sheetMusicCont .noteCanvas.sounding {
    background: linear-gradient(180deg, rgba(0,0,0,0) 80%, rgba(255,0,0,0.2) 10%)
}
.sheetMusicCont .noteCanvas.pointed {
    background: linear-gradient(180deg, rgba(0,0,0,0) 80%, rgba(255,0,0,0.2) 10%)
}

.sheetMusicCont .noteDom .tupletDenominatorHolder {
    display: inline-block;
    color: red;
    font-family: monospace;
    width: var(--b-radius);
    margin-top: calc(var(--b-radius) * 6);
    font-size: calc(var(--b-radius) * 3);
}
.sheetMusicCont .noteDom .tupletDenominatorHolder::before {
    content: attr(data-tuplet-denominator);
}
.sheetMusicCont .noteDom .tupletDenominatorHolder[data-tuplet-denominator="1"]::before {
    content: "";
}

.sheetMusicCont .noteDom .signHolder {
    display: inline-block;
    width: calc(2 * var(--b-radius));
    height: calc(11 * var(--b-radius));
    background-size: Auto calc(11 * var(--b-radius));
}
.sheetMusicCont .noteDom .signHolder[data-sign="flat"] {
    background-image: url(/imgs/notes/flat.svg);
}
.sheetMusicCont .noteDom .signHolder[data-sign="sharp"] {
    background-image: url(/imgs/notes/sharp.svg);
}
.sheetMusicCont .noteDom .signHolder[data-sign="natural"] {
    background-image: url(/imgs/notes/natural.svg);
}

.sheetMusicCont .noteDom .noteHolder {
    display: inline-block;
    width: calc(7 * var(--b-radius));
    height: calc(9 * var(--b-radius));
    background-image: url(/imgs/notes/null.svg);
    background-size: Auto calc(9 * var(--b-radius)), Auto Auto;
    text-align: right;
}
.sheetMusicCont .noteDom .noteHolder[data-clean-length="2"] {
    background-image: url(/imgs/notes/n2.00.svg);
}
.sheetMusicCont .noteDom .noteHolder[data-clean-length="1"] {
    background-image: url(/imgs/notes/n1.00.svg);
}
.sheetMusicCont .noteDom .noteHolder[data-clean-length="0.5"] {
    background-image: url(/imgs/notes/n0.50.svg);
}
.sheetMusicCont .noteDom .noteHolder[data-clean-length="0.25"] {
    background-image: url(/imgs/notes/n0.25.svg);
}
.sheetMusicCont .noteDom .noteHolder[data-clean-length="0.125"] {
    background-image: url(/imgs/notes/n0.125.svg);
}
.sheetMusicCont .noteDom .noteHolder[data-clean-length="0.0625"] {
    background-image: url(/imgs/notes/n0.0625.svg);
}
.sheetMusicCont .noteDom .noteHolder[data-clean-length="0.03125"] {
    background-image: url(/imgs/notes/n0.03125.svg);
}

.sheetMusicCont .noteDom .dotsHolder {
    display: inline-block;
    font-family: monospace;
    margin-top: calc(var(--b-radius) * 4);
    font-size: calc(var(--b-radius) * 5);
    letter-spacing: calc(-1 * var(--b-radius));
    color: red;
}
.sheetMusicCont .noteDom .dotsHolder::before {
    content: attr(data-dots);
}

.chordSpan .transitionState {
    display: none;
    /** TODO: display them */
}

/**
 * ==============================
 *  Styling of common tools
 * ==============================
 */

div.modalDialog {
    position: absolute;
    left: 40%;
    top: 40%;
    min-width: 20%;
    min-heigh: 20%;
    max-width: 75%;
    max-heigh: 75%;
    background-color: lightgrey;
    z-index: 1002;
    padding: 6px;
    box-shadow: 0px 0px 300px 250px rgb(82, 211, 254);
}

div.modalDialog div.key-values {
    text-align: right;
}