
/* supposing initial color is red for any note in any channel */

.channelColors [data-channel] {
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.channelColors [data-channel="0"] { color: rgb(0, 0, 0); }
.noteCanvas[data-channel="0"] {
    --cbfilter: hue-rotate(0deg) brightness(0);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="1"] { color: rgb(192, 0, 0); }
.noteCanvas[data-channel="1"] {
    --cbfilter: hue-rotate(0deg) brightness(0.75);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="2"] { color: rgb(0, 148, 0); }
.noteCanvas[data-channel="2"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="3"] { color: rgb(60, 60, 255); }
.noteCanvas[data-channel="3"] {
    --cbfilter: hue-rotate(240deg) brightness(2);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="4"] { color: rgb(152, 152, 0); }
.noteCanvas[data-channel="4"] {
    --cbfilter: hue-rotate(70deg) brightness(2.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="5"] { color: rgb(0, 192, 192); }
.noteCanvas[data-channel="5"] {
    --cbfilter: hue-rotate(180deg) brightness(2);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="6"] { color: rgb(192, 0, 192); }
.noteCanvas[data-channel="6"] {
    --cbfilter: hue-rotate(270deg) brightness(1.8);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="7"] { color: rgb(255, 128, 0); }
.noteCanvas[data-channel="7"] {
    --cbfilter: hue-rotate(30deg) brightness(7);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="8"] { color: rgb(91, 0, 255); }
.noteCanvas[data-channel="8"] {
    --cbfilter: hue-rotate(260deg) brightness(2);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="9"] { color: rgb(128, 128, 128); }
.noteCanvas[data-channel="9"] {
    --cbfilter: grayscale(100%) brightness(3);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

/** TODO: define when needed */
.channelColors [data-channel="10"] { color: rgb(127, 255, 0); }
.noteCanvas[data-channel="10"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="11"] { color: rgb(255, 0, 255); }
.noteCanvas[data-channel="11"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="12"] { color: rgb(64, 128, 255); }
.noteCanvas[data-channel="12"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="13"] { color: rgb(192, 128, 0); }
.noteCanvas[data-channel="13"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="14"] { color: rgb(130, 200, 0); }
.noteCanvas[data-channel="14"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

.channelColors [data-channel="15"] { color: rgb(255, 32, 0); }
.noteCanvas[data-channel="15"] {
    --cbfilter: hue-rotate(120deg) brightness(1.5);
    filter: var(--cbfilter);
    -webkit-filter: var(--cbfilter);
}

canvas#pianoCanvas { cursor: pointer; }

/** note score styling */

.sheetMusicCont .noteCanvas[data-tune="0"] {
    opacity: 0.5;
}
.sheetMusicCont .noteCanvas {
    position: absolute
}
.sheetMusicCont div.chordListCont > span.focused {
    background-color: rgba(255,192,0,0.3)
}
.sheetMusicCont div.chordListCont > span.tactFinisher {
    box-shadow: 1px 0 0 rgba(0,0,0,0.3)
}
.sheetMusicCont div.chordListCont > span.tactFinisher.doesNotFitIntoTact {
    box-shadow: 1px 0 0 red
}
.sheetMusicCont .noteCanvas.sounding {
    background: linear-gradient(180deg, rgba(0,0,0,0) 90%, rgba(255,0,0,0.2) 10%)
}
.sheetMusicCont .noteCanvas.pointed {
    background: linear-gradient(180deg, rgba(0,0,0,0) 90%, rgba(255,0,0,0.4) 10%)
}
