
    body {
        background-color: #666;
        background-image: url("/imgs/denya.png");
        background-repeat: no-repeat;
    }
    .main-cont * {
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
        font-size: 12px;
    }
    .nostretch-td {
        width:1%;
        white-space:nowrap;
    }
    .radio-cont {
        color: yellow;
        width: 100px;
        float:right;

        /** @debug */
        border: 1px solid white;
    }

    /* TODO: maybe make it all id-s? they are unique!*/
    .main-cont {
        background: rgba(127, 127, 255, 0.5) url("/imgs/shmidusic-port.png") no-repeat right top;
    }
    .main-caption {
        color: cyan;
        text-shadow: -1px 0 darkgreen, 0 1px darkgreen, 1px 0 darkgreen, 0 -1px darkgreen;
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .small-caption {
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
        color: yellow;
    }
    .small-caption a { color: #fe0; }
    .small-caption a ~ a { color: #ef0; }

    .topic-links-cont {
        background-color: rgba(192, 192, 255, 0.5);
    }
    .topic-option, a:visited {
        border: 2px solid;
        background-color: #fc8;
        color: darkmagenta;
        text-decoration: none;
        padding: 4px;
        font-weight: bold;
        font-size: 16px;
    }
    .content-block-table {
        width: 100%;
    }
    .content-block-table tr td {
        background-color: rgba(255,0,255,0.3);
    }

    #pianoControlDiv {
        width: 1000px;
        margin-left: auto ;
        margin-right: auto ;
    }
    .piano-cont {
        background-color: white;
        display: inline-block;
        float: left;
    }
    .piano-side-div {
        width: 250px;
        float: left;
        border: 1px solid rgba(255,0,0,0.0); /* invisible border - to ensure that these divs _do_ take these 200px */
    }
    .piano-side-div input {
        font-size: 10px;
        float: left;
        /*border: 3px solid rgba(255,127,0,0.3);*/
        background: white;
        max-width: 190px;
        float: left !important;
    }

    #contentContainer{
        display: flex;
    }
    #contentContainer .main-middle-cont {
        flex: 1;
        border: 2px solid green;
        margin-right: 4px;
        margin-left: 6px;
        height: 740px; /* it should match the height of random-midi-list-cont */
        text-align: left; /* for some reason, without it a horizontal scrollbar appears when vertical scrollbar appears */

        background: white url("/imgs/big/povestjoleneolene_400_400.png") no-repeat right bottom;
    }
    #contentContainer .rightSideMainBlock {
        width: 250px;
        height: 600px;
    }
    .rightSideMainBlock .random-midi-list-cont {
        background-color: #f80;
        min-height: 300px;
        max-height: 500px;
        overflow-y: scroll;
    }
    .random-midi-list-cont table tr:not(.table-generator-title-tr) td {
        background-color: #fff;
        max-width: 130px;
        overflow: hidden;
        padding-top: 4px;
        padding-bottom: 2px;
        font-size: 10px;
    }

    .random-midi-list-cont table tr:not(.table-generator-title-tr) td * {
        font-size: 10px;
	color: #008;
    }

    #instrumentInfoBlock {
        min-height: 200px;
        background-color: blue;
        margin: 2px;
    }
    #instrumentInfoBlock td {
        background-color: white;
        font-size: 10px;
        padding: 0px;
    }
    #instrumentInfoBlock .notUsed {
        background-color: darkgrey;
        color: white;
    }
    #instrumentInfoBlock input[type="checkbox"] {
        margin:0;
        margin-top: 1px;
        margin-left: 1px;
    }
    #instrumentInfoBlock select {
        height: 10px;
        margin: 0px;
        font-size: 10px;
        padding: 0px;
        border: none;
    }

    .myMusicCont {
        width: 200px;
        height: 500px;
        overflow-y: scroll;
        float: left;
    }
    .myMusicCont table tr td {
        max-width: 120px;
        background-color: rgba(64,64,64,0.75);
        color: cyan;
        overflow: hidden;
    }

    .main-middle-cont * { font-size: 10px; }
    #playbackControl > div.general { background-color: rgb(140, 133, 208); }
    #playbackControl > div > *:not(button) {
		white-space: nowrap;
		background-color: #ccf;
		border: 1px solid grey;
	}
    div#synthControl > * { background-color: #fce; }
	div#synthControl { background-color: rgba(220, 91, 164, 1); }
	
    div.inlineBlock {
        padding: 3px;
        float: left;
        height: 14px;
    }
    #synthControl div.inlineBlock { height: 18px; }
	#playbackControl > * > div.inlineBlock > span { width: 50px; }
	#playbackControl > * > * > span { /* field value */
        background-color: #e4e4e4;
        font-weight: bold;
        border: 1px solid black;

        display: inline-block;
    }
	#playbackControl > * > * > input[type=number] {
        width: 50px;
		font-size: 10px;
		height: 16px;
    }

    #playbackControl button {
        font-weight: bold;
        letter-spacing:1px;
    }
    .playBtn {
        font-weight: bold;
        letter-spacing:1px;
        color: #0b0;
        text-shadow: 1px 0 #0b0;
    }
    .pauseBtn {
        font-weight: bold;
        letter-spacing:1px;
        color: red;
        text-shadow: 1px 0 red;
    }

	input[type=range] {
		-webkit-appearance: none !important;
		height: 14px;
		background-color: grey;
	}
    input[type=range].smallSlider { width: 50px; }
	input[type=range].timeSlider { 
        width: 98%; 
        height: 8px;
        cursor: hand;
        background-color: #800;
    }
    input[type=range].timeSlider::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 100%;
        width: 16px;
        border-radius: 10px;
        background-color: red;
    }

	div.globalControl { background-color: #6aa; }

	img.userImage {
		float: left;
		max-height: 36px;
	}

    .sheetMusicCont {
        background-color: rgba(255, 255, 255, 0.42);
        border: solid 10px transparent;
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 120px;
        max-height: 360px; /* when note oval radius is 3px, this will be exactly 3 systems (360 / (3 * 40) = 3.0) */
    }
