
.playback-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}
.playback-header-panel {
    display: flex;
    justify-content: space-between;
    min-height: 180px;
    align-items: flex-start;
}
.playback-header-song-details-section {
    display: flex;
    column-gap: 9px;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(86 11 31 / 58%);
}
#current_song_view_cdtitle {
    object-fit: contain;
}
#current_song_view_banner {
    max-height: 300px;
}
#current_song_error_message_holder {
    color: red;
}
#current_song_difficulties_list {
    color: white;
    background-color: rgb(21 46 31 / 82%);
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding: 6px;
}
li.selected-chart {
    color: #5a70e3;
}
button:not(:disabled) {
    cursor: pointer;
}
.fit-in-relative-parent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
body {
    background-color: #232323;
    display: flex;
    height: 100%;
    margin: 0;
}
.header-message {
    color: white;
}
.pack-name-holder {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    max-width: 180px;
}
.pack-item {
    margin: 6px;
    display: inline-block;
    vertical-align: top;
    border: solid #89ccf3 2px;
    background-color: white;
}
.packed-content {
    display: flex;
    flex-direction: column;
}
.packed-content {
    text-align: center;
}
.packed-content img {
    max-width: 180px;
}
.song-list {
    margin: 6px;
    margin-right: 0px;
    max-height: 600px;
    overflow-y: auto;
    text-align: left;
    max-width: 180px;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.content-retrieval-error {
    color: red;
}
img.song-banner,
img.pack-banner {
    width: 256px;
    height: 80px;
    background-color: #3e3e3e;
}
img.song-banner:not([src]),
img.pack-banner:not([src]) {
    display: none;
}
.play-song-item-btn {
    margin-right: 3px;
    cursor: pointer;
    color: green;
    border: solid 1px green;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 1px;
}
.play-song-item-btn:hover {
    color: cyan;
}
.current-pack-view {
    background-color: rgb(11 11 90 / 62%);
    padding: 18px;
    text-align: right;
}
.current-pack-view-header {
    display: inline-block;
    text-align: center;
    float: left;
}
.current-pack-view-header h2 {
    margin: 0;
    font-weight: bold;
    color: #ffd868;
}
#current_pack_view_songs_list {
    display: inline;
}
#current_pack_view_songs_list > * {
    display: inline-block;
    text-align: center;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 6px;
    background-color: rgb(22 46 50 / 83%);
    border-radius: 6px;
    border: solid #697789 2px;
}
.pack-item,
.current-pack-songs-list-entry {
    cursor: pointer;
}
.pack-item:hover,
.current-pack-songs-list-entry:hover {
    box-shadow: #315dcc 0 0 6px 3px;
}
.current-pack-songs-list-entry-header {
    font-weight: bold;
    color: white;
}
#current_pack_view_banner {
    max-height: 420px;
}
#current_pack_view_songs_list > * img {
    width: 100%;
    object-fit: cover;
    height: 80px;
}
#current_pack_view_songs_list > * img[src=""] {
    opacity: 0;
}

#gamepads_states_list {
    min-height: 60px;
}
#gamepads_states_list,
#hit_status_message_holder,
#hit_mean_error_message_holder {
    margin-left: auto;
    white-space: pre;
    font-size: 48px;
}
#hit_status_message_holder,
#hit_mean_error_message_holder {
    background-color: rgba(0, 0, 0, 0.58);
    min-width: 120px;
    text-align: right;
}
#hit_status_message_holder[data-status-kind="HIT"],
#hit_mean_error_message_holder {
    color: #00ff00;
}
#hit_mean_error_message_holder[data-last-precision-rating="BELOW_5ms"],
#hit_status_message_holder[data-last-precision-rating="BELOW_5ms"] {
    color: #00ffbb;
}
#hit_mean_error_message_holder[data-last-precision-rating="BELOW_10ms"],
#hit_status_message_holder[data-last-precision-rating="BELOW_10ms"] {
    color: #00ff00;
}
#hit_mean_error_message_holder[data-last-precision-rating="BELOW_30ms"],
#hit_status_message_holder[data-last-precision-rating="BELOW_30ms"] {
    color: #aaff00;
}
#hit_mean_error_message_holder[data-last-precision-rating="BELOW_60ms"],
#hit_status_message_holder[data-last-precision-rating="BELOW_60ms"] {
    color: yellow;
}
#hit_mean_error_message_holder[data-last-precision-rating="BELOW_90ms"],
#hit_status_message_holder[data-last-precision-rating="BELOW_90ms"] {
    color: orange;
}
#hit_mean_error_message_holder[data-last-precision-rating="OVER_90ms"],
#hit_status_message_holder[data-last-precision-rating="OVER_90ms"] {
    color: #ff6a00;
}

#hit_status_message_holder.colorize-error-ms[data-status-kind="MISS"] {
    color: red;
}
#gamepads_states_list > * {
    display: flex;
    column-gap: 6px;
}
#gamepads_states_list > * > *.pressed {
    color: blue;
}
#flying_arrows_box {
    width: 480px;
    background: linear-gradient(#1a1a1a 20%, black 20%);
    position: relative;
    overflow: hidden;
}
.flying-arrow {
    --base-color: #00ff00;
}
.flying-arrow[data-measure-progress="0.000"],
.flying-arrow[data-measure-progress="0.250"],
.flying-arrow[data-measure-progress="0.500"],
.flying-arrow[data-measure-progress="0.750"] {
    --base-color: #ff6200;
}
.flying-arrow[data-measure-progress="0.125"],
.flying-arrow[data-measure-progress="0.375"],
.flying-arrow[data-measure-progress="0.625"],
.flying-arrow[data-measure-progress="0.875"] {
    --base-color: #0095ff;
}
.flying-arrow {
    color: var(--base-color);
    position: absolute;
    animation-name: fly-arrow;
    animation-timing-function: linear;
    font-size: 60px;
    visibility: hidden;
    width: 120px;
    text-align: center;
    z-index: 0;
}
.flying-arrow .arrow-hold-trail {
    background-color: grey;
    position: absolute;
    top: 36px;
    left: 48px;
    right: 48px;
    z-index: -1;
}
.flying-arrow[data-note-value="4"] .arrow-hold-trail {
    background-color: green; /* ROLL_HEAD */
}
.flying-arrow[data-column="0"] { left: 0 }
.flying-arrow[data-column="1"] { left: 120px }
.flying-arrow[data-column="2"] { left: 240px }
.flying-arrow[data-column="3"] { left: 360px }

.flying-arrow.was-hit {
    display: none;
}