#menu li{float:left;
			position:relative;
			height:100%;
				}
#menu ul li {float:none;}
#menu {height:30px;
				min-width:470px;
				font-weight:bold;
				font-family:Arial;
                list-style:none;
				}
#menu li a {
			display:block;
			padding:6px;
			width:100px;
			color:#000;
			text-decoration:none;
			text-align:left;
			
			}




			
#body {background-color:#fffff0;} /* ivory */




	
#block{
	overflow: hidden;
	height:100%;
	width:100%;
	
	
}


 
 
#cssmenu .active {
	background-color:#FACD7A;
	
	
	}
	
#cssmenu{
	float:center;
}

li a:hover{
	background-color:#EDF155;
	
}



	



