
:root {
    --main-game-bg: #151515;
    --game-title-color: #b456cc;
    --triangle-color: #313131;
    --triangle-border-color: #b3b3b3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: var(--main-game-bg);
    box-shadow:
            inset 0 0 35px #000,
            inset -8px 0 275px #5a3d92,
            inset -18px 0 54px #1b151b,
            inset 6px 0 64px #277b6c,
            inset -20px 0 6px #171919,
            0 0 105px #fff,
            -10px 0 117px #541c54,
            10px 0 80px #364e4e;
}
.stats-block {
    position: absolute;
    right: 130px;
}

.resource-svg {
    pointer-events: none;
    transform: scale(0.05);
}

.wheat-resource-svg {
    fill: #608e60;
}

.oil-resource-svg {
    fill: #6a6d96;
}

.gold-resource-svg {
    transform: scale(0.45);
    fill: #fbbe5c;
}

.stats-block * {
    color: white;
}
.stats-block > span {
    margin-bottom: 12px;
    display: block;
    padding-left: 8px;
}
.stats-block table {
    border-collapse: collapse;
}
.stats-block th {
    min-width: 30px;
    padding: 4px 8px;
}
.stats-block td {
    border: solid 1px rgba(236, 190, 249, 0.16);
    text-align: center;
    padding: 4px 8px;
    border-right: none;
    border-left: none;
}

.stats-block tr:first-child td {
    border-top: none;
}

.stats-block tr:last-child td {
    border-bottom: none;
}

tr.turn-pending {
    background-color: #213b5d;
}

polygon {
    fill: var(--triangle-color);
    stroke: var(--triangle-border-color);
    stroke-width: 1px;
    transition: 0.15s ease-in-out;
    transform: scale(0.9);
}
[data-resource="WHEAT"] { color: #4da04d; }
[data-resource="WHEAT"] polygon.base-tile {
    //fill: #366536;
}
[data-resource="OIL"] { color: #8c90d0; }
[data-resource="OIL"] polygon.base-tile {
    //fill: #2b2b65;
}
[data-resource="GOLD"] { color: #e4c579; }
[data-resource="GOLD"] polygon.base-tile {
    //fill: #982626;
}
[data-resource="DEAD_SPACE"] polygon.base-tile {
    fill: transparent;
    stroke: transparent;
}
polygon.effects-overlay {
    display: none;
}
[data-possible-turn] polygon{
    stroke-width: 3px;
}
[data-possible-turn="DARK"] polygon.base-tile:hover {
    fill: #945694;
}
[data-possible-turn="GREY"] polygon.base-tile:hover {
    fill: #68b2ca;
}
[data-possible-turn="LIGHT"] polygon.base-tile:hover {
    fill: #b5b547;
}
[data-possible-turn="DARK"] polygon:first-child {
    stroke: #e4a3e4;
    animation: blink-possible-turn 1.5s ease-in-out infinite;
}
[data-possible-turn="LIGHT"] polygon:first-child {
    stroke: #eaea9b;
    animation: blink-possible-turn 1.5s ease-in-out infinite;
}
[data-possible-turn="GREY"] polygon:first-child {
    stroke: #a6e2e2;
    animation: blink-possible-turn 1.5s ease-in-out infinite;
}
[data-possible-turn="DARK"] polygon.effects-overlay {
    cursor: pointer;
    stroke: #e4a3e4;
    animation: blink-possible-turn 1.5s ease-in-out infinite;
}
[data-possible-turn="LIGHT"] polygon.effects-overlay {
    cursor: pointer;
    stroke: #eaea9b;
    animation: blink-possible-turn 1.5s ease-in-out infinite;
}

[data-possible-turn="GREY"] polygon.effects-overlay {
    cursor: pointer;
    stroke: #a6e2e2;
    animation: blink-possible-turn 1.5s ease-in-out infinite;
}
[data-possible-turn="DARK"] polygon.effects-overlay {
    stroke: #e4a3e4 !important;
    stroke-width: 3px !important;
}
[data-possible-turn="LIGHT"] polygon.effects-overlay {
    stroke: #eaea9b !important;
    stroke-width: 3px !important;
}
[data-possible-turn="GREY"] polygon.effects-overlay {
    stroke: #a6e2e2 !important;
    stroke-width: 3px !important;
}
[data-owner] path.resource-svg {
    fill: #313131;
}

[data-owner] polygon.effects-overlay {
    stroke-width: 1px;
    display: unset;
}
[data-owner="DARK"] polygon.effects-overlay {
    fill: #9c70c3;
    stroke: #484848;
}
[data-owner="DARK"] .player-name-holder { color: magenta; }
[data-stander="DARK"] polygon.effects-overlay {
    stroke: #f3aff3;
    fill: magenta;
    stroke-width: 4px;
}

[data-owner="LIGHT"] polygon.effects-overlay {
    fill: rgb(152, 167, 119);
    stroke: #484848;
}
[data-owner="LIGHT"] .player-name-holder { color: yellow; }
[data-stander="LIGHT"] polygon.effects-overlay {
    fill: yellow;
    stroke: #f3f3c8;
    stroke-width: 4px;
}

[data-owner="GREY"] polygon.effects-overlay {
    fill: #597b86;
    stroke: #484848;
}
[data-owner="GREY"] .player-name-holder { color: cyan; }
[data-stander="GREY"] polygon.effects-overlay {
    fill: cyan;
    stroke: #dbffff;
    stroke-width: 4px;
}

polygon.base-tile:hover {
    fill: #b7b7b7;
    cursor: pointer;
}

[data-resource="DEAD_SPACE"] polygon.base-tile:hover {
    fill: transparent;
    cursor: default;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-neon-wrap {
    filter: brightness(170%);
    margin: 48px 0;
    animation: neon-glow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes neon-glow {
    0% {
        filter: brightness(150%);
    }
    44% {
        filter: brightness(150%);
    }
    45% {
        filter: brightness(250%);
    }
    47% {
        filter: brightness(150%);
    }
    64% {
        filter: brightness(150%);
    }
    65% {
        filter: brightness(250%);
    }
    67% {
        filter: brightness(150%);
    }
    100% {
        filter: brightness(150%);
    }
}

.game-title {
    font-weight: 400;
    font-size: 82px;
    color: var(--game-title-color);
    user-select: none;
}

.game-title:before {
    content: 'Trilemma';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}

.stats-title-block {
    filter: brightness(170%);
}

.stats-title {
    font-weight: 400;
    font-size: 64px;
    color: var(--game-title-color);
    user-select: none;
    display: flex;
    justify-content: center;
}

.stats-title:before {
    content: 'Stats';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}

.game-wrapper {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.tile-map-holder {
    margin-bottom: 82px;
    position: relative;
}

@keyframes blink-possible-turn {
    0% {
        opacity: 1;
    }
    45%, 55% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}