IndexOptions +Charset=UTF-8

# need to put to apache config to handle cgitb putting ""<!-- spam:" in headers
# HttpProtocolOptions Unsafe

# Added by klesun to fix python3.5's "'ascii' codec can't encode character "
# see https://stackoverflow.com/questions/9322410/set-encoding-in-python-3-cgi-scripts
PassEnv LANG