		
	body {
	    background-color: #40f;
		background-image: url("/imgs/denya.png");
		background-repeat: no-repeat;
	}
	.main-cont * {
		font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
		font-size: 12px;
	}
	.nostretch-td {
		width:1%;
		white-space:nowrap;
	}
	.radio-cont {
		color: yellow;
		width: 100px;
		float:right;

		/** @debug */
		border: 1px solid white;
	}

	/* TODO: maybe make it all id-s? they are unique!*/
	.main-cont {
		background-color: rgba(127, 127, 255, 0.5);
		background-image: url("/imgs/shmidusic-port.png");
		background-repeat: no-repeat;
		background-position: right top;
	}
	.main-caption {
		color: cyan;
		text-shadow: -1px 0 darkgreen, 0 1px darkgreen, 1px 0 darkgreen, 0 -1px darkgreen;
		font-size: 30px;
	}
	.topic-links-cont {
		background-color: rgba(192, 192, 255, 0.5);
	}
	.topic-option, a:visited {
		border: 2px solid;
		background-color: #fc8;
		color: darkmagenta;
		text-decoration: none;
		padding: 4px;
		font-weight: bold;
		font-size: 16px;
	}
	.content-block-table {
		width: 100%;
	}
	.content-block-table tr td {
		background-color: rgba(255,0,255,0.3);
	}

	#pianoControlDiv {
	    width: 900px;
        margin-left: auto ;
        margin-right: auto ;
	}
	.piano-cont {
	    background-color: white;
	    display: inline-block;
	    float: left;
	}
	.piano-side-div {
    	width: 200px;
    	float: left;
    	border: 1px solid rgba(255,0,0,0.0); /* invisible border - to ensure that these divs _do_ take these 200px */
	}
	.piano-side-div input {
    	float: left;
    	/*border: 3px solid rgba(255,127,0,0.3);*/
    	background: white;
    	max-width: 190px;
	}

	.main-middle-cont {
		border: 2px solid green;
		font-size: 12px;
		text-align: left;
        width: 100%;
		width: 450px;
		padding: 4px;
	}
	.random-midi-list-cont {
		background-color: orange;
		width: 100%;
		height: 500px;
		overflow-y: scroll;
	}
	.random-midi-list-cont table tr:not(.table-generator-title-tr) td {
		background-color: #444;
		color: yellow;
	}
	.something-left-cont {
	    width: 200px;
	}
	.something-left-cont table tr td {
        max-width: 150px;
        background-color: #ffc;
        overflow: hidden;
	}